<template>
  <div>
    <q-card>
      <q-card-section>
        <q-toolbar-title>Login</q-toolbar-title>
      </q-card-section>
      <q-card-section>
        <q-input
          v-model="user.username"
          label="Username"
          placeholder="Enter your username"
          type="text"
          color="primary"
          dense
        />
        <q-input
          v-model="user.password"
          label="Password"
          placeholder="Enter your password"
          type="password"
          color="primary"
          dense
        />
      </q-card-section>
      <q-card-section>
        <q-btn @click="login" label="Login" color="primary" flat />
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";
import { UserToLogin } from "@/models/userModel";
import { useAuthStore } from "@/store/authStore";
export default class LoginView extends Vue {
  authStore = useAuthStore();
  user: UserToLogin = {
    username: "",
    password: "",
  };
  login() {
    !this.authStore.isLoggedIn
      ? this.authStore.login(this.user)
      : this.authStore.logout();
  }
}
</script>

<style></style>
