<template>
<LoginView/>

</template>

<script>
import { ref } from 'vue'
import LoginView from './views/LoginView.vue'
export default {
  name: 'LayoutDefault',

  components: {
    LoginView
  },

  setup () {
    return {
      leftDrawerOpen: ref(false)
    }
  }
}
</script>
